<launch>

    <!-- Arguments for the beam perception module -->
    <arg name="mode" default="detect" doc="Beam perception mode [detect, config]."/>

    <!-- Launch the april tag detector -->
    <include file="$(find ramp_apriltag_detector)/launch/continuous_detector.launch"/> 

    <include file="$(find ramp_apriltag_detector)/launch/tf_filter.launch"/> 

    <param name="mode" value="$(arg mode)"/>

    <node name="beam_tracking" pkg="ramp_apriltag_detector" type="beam_perception.py" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" respawn="false"	args="-d $(find ramp_apriltag_detector)/rviz/ramp_rviz.rviz" />

</launch>